.topbox{
    background-color: chartreuse;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
.container{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
.box{
    height: 150px;
}
.container .box:nth-child(1){
    background-color: yellow;
    width: 20%;
}
.container .box:nth-child(2){
    width: 78%;
}
.bg-orange{
    background-color: orange;
}
.bg-blue{
    background-color: aqua;
}